<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gajani.nikhar.EasyNotes">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/index"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".NotifyService" />
        <service android:name=".ScheduleService" />

        <provider
            android:name=".NotesProvider"
            android:authorities="com.gajani.nikhar.EasyNotes"
            android:exported="false" />

        <activity
            android:name=".Editor"
            android:screenOrientation="portrait" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MainActivityNav"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".FirstLaunchingActivity" />
        <activity android:name=".PasswordActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>